<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <configSections>
    <section name="rethinkdb" type="RethinkDb.Configuration.RethinkDbClientSection, RethinkDb"/>
  </configSections>
  <rethinkdb>
    <clusters>
      <cluster name="prueba">
        <defaultLogger enabled="true" category="Warning"/>
        <connectionPool enabled="true"/>
        <networkErrorHandling enabled="true" />
        <endpoints>
          <endpoint address="192.168.136.128" port="28015"/>
        </endpoints>
      </cluster>
    </clusters>
  </rethinkdb>
</configuration>